<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386461751781-73p15havukv5naujg7nkvmffsnqr7dn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386461751781-73p15havukv5naujg7nkvmffsnqr7dn5</string>
	<key>API_KEY</key>
	<string>AIzaSyDJxa20VQ-JiU-aYYvANfom8PZOBv-8VK8</string>
	<key>GCM_SENDER_ID</key>
	<string>386461751781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mini.project</string>
	<key>PROJECT_ID</key>
	<string>project-e0ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>project-e0ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386461751781:ios:5992e1b9df0c4d14cb370c</string>
</dict>
</plist>